@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Montserrat:wght@400;500;600&display=swap');

html {
	scroll-behavior: smooth;
	font-size: 20px;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
    font-family: var(--font-main);
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 36px;
}