.header {
	height: 100vh;
	max-height: 1500px;
	position: relative;
	color: #fff;

	&__content {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.199);
		z-index: 9;
		top: 40px;
		right: 60px;
		bottom: 50px;
		left: 60px;
        border-radius: 14px;
		pointer-events: none;
	}

    &__slider-controls {
        pointer-events: all;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.slider-controls {
    position: relative;
    &__arrows {
        position: absolute;
        width: 200px;
        display: flex;
        align-items: center;
        gap: 25px;
        opacity: 0.3;
        right: 15px;
        bottom: 0;
    }
    &__count {
        position: absolute;
        display: flex;
        gap: 5px;
        font-size: 26px;
        bottom: 26px !important;
        left: -142px !important;
        color: #ffffff69;
        font-family: var(--font-accent);
        font-weight: 500;
    }
}

.slider-controls__count-current, .swiper-pagination-current  {
    font-size: 40px;
    line-height: 0.75;
    color: #fff;
}

.header a {
	color: #fff;
}

.header__scrollbar {
    pointer-events: all;
    position: absolute;
    right: 27.5%;
    bottom: 2%;
    width: 800px;
}