.header {
	height: 100vh;
	max-height: 1500px;
	position: relative;
	color: #fff;

	&__content {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.199);
		z-index: 9;
		top: 40px;
		right: 60px;
		bottom: 50px;
		left: 60px;
        border-radius: 14px;
		pointer-events: none;
	}

    &__slider-controls {
        pointer-events: all;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.slider-controls {
    position: relative;
    &__arrows {
        width: 250px;
        display: flex;
        align-items: center;
        gap: 15px;
        opacity: 0.3;
    }
    &__count {
        position: absolute;
        display: flex;
        font-size: 28px;
        top: 42px;
        left: 103px;
        color: #ffffff69;
        font-family: var(--font-accent);
        font-weight: 500;
    }
}

.slider-controls__count-current, .swiper-pagination-current  {
    font-size: 45px;
    line-height: 0.75;
    color: #fff;
}

.header a {
	color: #fff;
}