.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    pointer-events: all;
    padding: 20px 35px 0;
}

.nav__list {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.5;
    }
}

.nav__list {
    a {
        position: relative;
        transition: 0.3s;
        &:hover {
            color: #e04d4d;
        }
    }
} 