.slide {
    height: 100vh;
    overflow: hidden;
    padding-bottom: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./../images/bg-main.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    color: #fff;

    cursor: grab;
}

.slide__header {
    text-align: center;
    line-height: 1.5;
}

.slide__title {
    font-weight: 600;
}