.slide {
    height: 100vh;
    overflow: hidden;
    padding-bottom: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: grab;
    color: #fff;

    &__main {
        background-image: url(./../images/bg-main.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.slide__header {
    text-align: center;
    line-height: 1.5;
}

.slide__title {
    font-weight: 600;
}

.slide__conception {
    background-image: url(./../images/bg-first.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &-title {
        
    }
    &-text {
        margin: 0 auto;
        max-width: 90%;
    }
}

.slide__music {
    background-image: url(./../images/bg-second.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &-title {
        
    }
    &-text {
        margin: 0 auto;
        max-width: 90%;
    }
}

.slide__graphic {
    background-image: url(./../images/bg-third.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &-title {
        
    }
    &-text {
        margin: 0 auto;
        max-width: 90%;
    }
}
.slide__rituals {
    background-image: url(./../images/bg-fourth.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &-title {
        
    }
    &-text {
        margin: 0 auto;
        max-width: 90%;
    }
}
.slide__sales {
    background-image: url(./../images/bg-fiveth.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &-title {
        
    }
    &-text {
        margin: 0 auto;
        max-width: 90%;
    }
}
.slide__commerce {
    background-image: url(./../images/bg-sixth.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &-title {
        
    }
    &-text {
        margin: 0 auto;
        max-width: 90%;
    }
}